<style type="text/css">

.arrowlistmenu{
width: 250px; /*width of menu*/
}

.arrowlistmenu .headerbar{
font: bold 14px Arial;
color: red;
background: #60b9e1;
margin-bottom: 10px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 4px 0 4px 10px; /*header text is indented 10px*/
width:250px
}

.arrowlistmenu ul{
width:250px;
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 2px;
font: bold 14px Arial; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
color:#000000;
background: url(arrowbullet.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #dadada;
font-size: 90%;
}

.arrowlistmenu ul li a:visited{
color: #A70303;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #A70303;
background-color: #f1fcb2;
}

</style>
